/* ------------------------------------
 * Typecho Default Theme
 *
 * @author  Typecho Team
 * @link  http: //typecho.org/
 * @update  2013-10-28
 * --------------------------------- */

/* ------------------
 * Global style
 * --------------- */
body {
  background-color: black;
  color: #FFCB30;
  /* font-family: "JiangXizhuokai", Helvetica, Arial, sans-serif; */
  font-family: "JiangXizhuokai", "Droid Serif", Georgia, "Times New Roman", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "WenQuanYi Micro Hei","Microsoft Yahei", serif;
  font-size: 100%;
  padding: 0 2em 2em 2em;
}

a {
  color: #FFCB30;
  text-decoration: none;
}
a:hover, a:active {
  color: #BAAF8C;
}

pre, code { 
  font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
  font-size: .92857em;
}
code { 
  overflow-x: auto; /* 允许水平滚动 */
  padding: 2px 4px; color: #BAAF8C; }
pre {
  padding: 8px;
  overflow: auto;
  max-height: 400px;
}
pre code {
  display: block;
  padding: 3px;
  color: #BAAF8C;
}

blockquote {
  margin: 1em 0;
  padding-left: 1.5em;
  border-left: 4px solid #eee;
  color: #BAAF8C;
}

table {
  border: 1px solid #ddd;
  width: 100%;
}
table th,
table td {
  padding: 5px 10px;
  border: 1px solid #eee;
}
table th {
  background: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "JiangXizhuokai", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei","Microsoft Yahei", sans-serif;
  color: #FFCB30;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  color: #BAAF8C;
  padding: 10px;
  width: 100%;
  background-color: #171717;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
textarea {
  resize: vertical;
}

textarea:focus, input:focus {
  outline: none;
}

/* Special link style */
.post-meta a,
.post-content a,
.widget a,
.comment-content a {
  border-bottom: 1px solid #EEE;
}

.post-meta a:hover,
.post-content a:hover,
.widget a:hover,
.comment-content a:hover {
  border-bottom-color: transparent;
}

/* ------------------
 * Header
 * --------------- */


#logo {
  color: #333;
  font-size: 2.5em;
}
#logo img {
    max-height: 100px;
}
.sologan{
  height: 100px;
}
.logo-img {
  float: left;
  color: #333;
  font-size: 2.5em;
}
.logo-img img {
    max-height: 100px;
    border: 5px solid transparent;
    border-image: conic-gradient(from 0deg, rgb(235, 165, 165), yellow, green, rgb(11, 144, 156), rgb(167, 40, 181), rgb(226, 224, 72)) 1;
    border-image-slice: 1;
}

.site-title {
  float: left;
  margin-left: 20px;
}

.site-title h2{
  font-size: 1.5em;
  font-weight: normal;
  margin: 0.5em 0;
  padding: 0;
}

.site-title p{
  margin: 0;
  padding: 0;
}
.description {
  margin: .5em 0 0;
  color: #999;
  font-style: italic;
}

/* Navigation menu */
#nav-menu {
  margin: 1em 0 2em 0;
  text-align: right;
}
#nav-menu ul {
  margin: 0;
  padding: 0;
}
#nav-menu ul li {
  font-size: 1em;
  list-style: none;
  margin-right: 1em;
  padding: 0;
  display: inline-block;
}

.nav-menu-sub{}
.nav-menu-sub img{
  width: 20px;
  height: 20px;
}

/* Search */
.site-search{
  float: right;
  margin-top: 15px;
}
#search {
  position: relative;
  margin-top: 15px;
  width: 12em;
}
#search input {
  padding-right: 30px;
  background-color: black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px dashed #FFCB30;
  border-radius: 0;
  color: gray;
}
#search input:focus {
  outline: none;
}
#search input:autofill {
  border: none;
  background: none;
}
#search button {
  position: absolute;
  right: 4px;
  top: 2px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent url(img/icon-search.png) no-repeat center center;
  direction: ltr; /* fix RTL language */
  text-indent: -9999em;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  #search button {
    background-image: url(img/icon-search@2x.png);
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}


/* ------------------
 * Main
 * --------------- */

.post {
  padding: 15px 0 20px;
}
.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-list li {
  margin: 2em 0;
  padding: 0;
}
.post-list li h2{
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.post-list li span{
  font-size: 12px;
  color: #B1B0AF;
  margin: 0;
  padding-left: 2em;
}
.post-title {
  margin: .83em 0;
  font-size: 1.5em;
}
.post-meta {
  margin-top: -0.5em;
  padding: 0;
  color: #999;
  font-size: .92857em;
}
.post-meta li {
  display: inline-block;
  margin: 0 8px 0 0;
  padding-left: 12px;
  border-left: 1px solid #EEE;
}
.post-meta li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}
.post-content {
  margin: 2em 0;
  line-height: 2;
  color: #BAAF8C;
}
.post .tags {
  clear: both;
}
.anchor-list {
  position: fixed;
  top: 100px;
  right: 0;
  width: 220px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 12px;
  border-radius: 12px 0 0 12px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  will-change: transform, opacity;
  pointer-events: none;        /* 默认不响应事件 */
  opacity: 0;
  transform: translateX(100%); /* 初始右侧滑出状态 */
}

.anchor-list.visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
#anchor-list a.active {
  font-weight: bold;
  color: #FFCB30; /* 或你自定义的主题色 */
}
.anchor-list.floating {
  transform: translateX(0) translateY(20px); /* 加下沉动画 */
}


.index-menu-list{
  list-style: none;
  margin: 0;
  padding-left: 1em;
}
.index-menu-item{
  margin: 1.5em 0;
} 
.index-menu-link{
  color: #BAAF8C;
  text-decoration: none;
}
.menu-target-fix {display:block; position:relative; top:-60px; }

.tags-list-title{
  font-size: 1.2em;
  color: #c7bc2e;
}
.tags-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags-list li {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  background: #1B1B1B;
  border-radius: 3px;
}

.post-near {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  color: #999;
}
.post-near li {
  margin: 10px 0;
}

.archive-title {
  margin: 1em 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #c7bc2e;
  font-size: 1.2em;
  border-bottom: 1px solid #434343;
}
.more {
  text-align: center;
}
.more a {
  border: none;
}
.protected .text {
  margin: 0 10px;
  width: 50%;
}

/* Page nav */

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

/* ------------------
 * Comment list
 * --------------- */
#comments {
  padding-top: 15px;
}
.comment-list, .comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border-top: 1px dashed #6b6656;
}
.comment-list li.comment-level-odd {
  background: #232323;
}
.comment-list li.comment-level-even {
  background: #191919;
}
.comment-list li.comment-by-author {
  background: #171717;
}
.comment-list li .comment-reply {
  text-align: right;
  font-size: .92857em;
}
.comment-meta{
  margin: 1em 0;
}
.comment-meta a {
  color: #999;
  font-size: .92857em;
}
.comment-author {
  font-size: 1.2em;
  display: block;
  margin-bottom: 3px;
  color: #c7bc2e;
}
.comment-author .avatar {
  float: left;
  margin-right: 10px;
}
.comment-author cite {
  font-weight: bold;
  font-style: normal;
}

/* Comment reply */
.comment-list .respond {
  margin-top: 15px;
  border-top: 1px dashed #6b6656;
}
.respond .cancel-comment-reply {
  float: right;
  margin-top: 15px;
  font-size: .92857em;
}
#comment-form label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}
#comment-form .required:after {
  content: " *";
  color: #C00;
}

/* ------------------
 * secondary
 * --------------- */
#secondary {
  padding-top: 15px;
  word-wrap: break-word;
}
.widget {
  margin-bottom: 30px;
}
.widget-list {
  list-style: none;
  padding: 0;
}
.widget-list li {
  margin: 5px 0;
  line-height: 2;
}

.widget-list li ul {
  margin-left: 15px;
}


/* ------------------
 * Footer 
 * --------------- */
#footer {
  padding: 3em 0;
  line-height: 2;
  text-align: center;
  color: #999;
}


/* -----------------
 * Error page
 * -------------- */
.error-page {
  margin-top: 100px;
  margin-bottom: 100px;
}


/* -----------------
 * Content format
 *--------------- */
.post-content, .comment-content {
  color: #BAAF8C;
  line-height: 2;
  word-wrap: break-word;
}
.post-content h2, .comment-content h2 {
  font-size: 1.28571em;
}
.post-content img, .comment-content img,
.post-content video, .comment-content video {
  border: 2px solid #FFCB30;
  max-width: 300px;
  cursor: zoom-in;
  transition: 0.2s;
}
.post-content a img,
.comment-content a img {
  background: #FFF;
  position: relative;
  bottom: -4px;  /* hidden img parent link border  */
}
.post-content hr, .comment-content hr {
  margin: 2em auto;
  width: 100px;
  border: 1px solid #E9E9E9;
  border-width: 2px 0 0 0;
}


/* -----------------
 * Misc
 *--------------- */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
img.alignleft {
  margin: 0 15px 0 0;
}
img.alignright {
  margin: 0 0 0 15px;
}

.submit{
  background-color: #FFCB30;
    padding: 0.56em;
    color: black;
}

/* -----------------
 * Responsive
 *--------------- */
@media (max-width: 767px) {
  body{
    padding: 0 1em 1em 1em;
  }
  .anchor-list{
    display: none;
  }
  #nav-menu{
    display: none;
  }
  .sologan{
    height: auto;
  }
  .logo-img{
    float: none;
  }
  .site-title{
    float: none;
    margin-left: 0;
  }
  #nav-menu a {
    float: none;
    display: inline-block;
    margin: 0 -2px;
  }
}

@media (max-width: 768px) {
  body{
    padding: 0 1em 1em 1em;
  }
  .anchor-list{
    display: none;
  }
  #nav-menu{
    display: none;
  }
  .sologan{
    height: auto;
  }
  .logo-img{
    float: none;
  }
  .site-title{
    float: none;
    margin-left: 0;
  }
  #header {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .site-title h2{
    font-size: 1.2em;
  }
  .site-title p{
    text-align: left;
  }
  .entry-title-date{
    display: none;
  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  /* .container {
    max-width: 952px;
  } */
}


/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden; }

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
* Extends the .sr-only class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden; }
