---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header id="header" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="site-name col-mb-12 col-9">
                    <div class="sologan">
                        <div class="logo-img" href="/">
                            <a href="/"><img src="/img/header.jpg" alt="嗨！我是菜菜影，喜欢游戏、编程"/></a>
                        </div>
                        <div class="site-title">
                            <div class="site-title-txt">嗨！我是菜菜影，喜欢游戏、编程</div>
                            <p><a href="https://b23.tv/3efRHR3" alt="bilibi" target="_blank"><img src="/img/bilibili.png" alt="bilibili"></img><a/></p>
                         </div>
                    </div>
            </div>
        </div><!-- end .row -->
    </div>
</header><!-- end #header -->

<style>
header {
    margin-top:30px;
}
@media (max-width: 768px) {
    header {
    margin-top:0;
}
}
</style>
